body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  text-shadow: 2px 2px gray;
  color: rgba(116,183,140,0.8);
}

h2 {
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  color: darkgray;
}

.name {
  grid-area: n;
  color: darkgray;
  align-self: center;
  font-family: 'Muli', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  padding-left: 20px;
}

.nav {
  grid-area: v;
  color: darkgray;
}

.nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.nav a {
  color: darkgray;
  font-family: 'Muli', sans-serif;
  font-size: 1.25rem;
}

.footer {
  grid-area: f;
}

.footer > div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.orange {
  flex: 1;
  background-color: rgba(234,151,21,1);
}

.brown {
  flex: 1;
  background-color: rgba(132,109,97,1);
}

.green {
  flex: 1;
  background-color: rgba(15,145,98,1);
}

.light-green {
  flex: 1;
  background-color: rgba(116,183,140,1);
}

.fa {
  font-size: 1.75rem;
  color: rgba(116,183,140,1);
}
