.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto auto 20px;
  grid-template-areas:
    "n n n n n . v v v v v v"
    "h h h h h h h h h h h h"
    "w w w w w w w w w w w w"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f"
}

.header {
  grid-area: h;
}

.header > img {
  width: 100%;
  min-width: 1200px;
}

.welcome {
  grid-area: w;
  text-align: center;
}

.content {
  grid-area: c;
  margin: 20px 0 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.content a {
  padding: 20px;
}

.content h2 {
  text-align: center;
  font-weight: bold;
  background-color: rgba(132,109,97,0.5);
  padding: 5px;
  color: white;
}

.lock-1 {
  width: 300px;
  height: 225px;
  background-image: url(../images/lock_1.jpg);
}

.lock-2 {
  width: 300px;
  height: 225px;
  rgba(234,151,21,1);
  background-image: url(../images/lock_2.jpg)
}

.lock-3 {
  width: 300px;
  height: 225px;
  rgba(234,151,21,1);
  background-image: url(../images/lock_3.jpg)
}
